.App {
	display: flex;
	flex-direction: column;
	margin: auto;
	align-items: center;
	box-shadow: 0 3px 6px 0 #555;
	padding: 10px;
	border-radius: 4px;
	width: 40%;
	background-color: white;
	height: 80vh;
	margin-top: 3rem;
}

.SearchCity {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
	/* border: 1px solid rebeccapurple; */
}

.City-logo {
	width: 100%;
	height: 25vh;
	margin: 20px auto;
}

.AppLabel {
	color: black;
	font-size: 29px;
	font-weight: bold;
	text-align: center;
}
.Weather-info {
	color: black;
	font-size: 20px;
	font-weight: bold;
}

.SearchBox {
	display: flex;
	border: black solid 1px;
	margin: 20px auto;
}

.SearchBox input {
	padding: 15px 20px;
	font-size: 15px;
	border: none;
	outline: none;
	font-weight: bold;
}

.SearchBox button {
	font-size: 15px;
	color: white;
	background-color: black;
	border: none;
	font-weight: bold;
	padding: 0px 10px;
	cursor: pointer;
}

.Weather {
	width: 100%;
	height: 100%;
	border: 1px solid rgb(10, 6, 37);
}

.WeatherCondition {
	display: flex;
	align-items: center;
	border: 1px solid slateblue;
	width: 100%;
	justify-content: space-around;
}

.WeatherCondition span {
	margin: 20px auto;
	font-size: 14px;
}

.WeatherCondition span span {
	font-size: 28px;
}

.WeatherCondition img {
	width: 100px;
	height: 100px;
	margin: 20px auto;
}

.Location {
	font-size: 28px;
	font-weight: bold;
	text-align: center;
}
